@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Sora", sans-serif;
  }
}
.container1 {
  padding-left: 112px;
  padding-right: 112px;
  margin-top: 60px;
  margin-bottom: 60px;
}
